/****  GLOBALS  ****/
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    height: 100vh;
    background-color: #F9FAFC;
    padding: 15px;
}

.home {
    text-align: center;
}

.home>.logo {
    width: 100px;
    height: 80px;
    margin-top: 25px;
}
.localisation {
    margin-top: 15px;
}
.localisation p {
    display: none;
}

.title, .offline {
    font-weight: bold;
    background-image: url('../img/text-bg.jpeg');
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-top: 20px;
}

.taupes, #detailTaupe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.nav:not(.active) {
    display: none !important;
}

#listTaupes {
    padding-bottom: 100px;
}

/****  TAUPE TEMPLATE  ****/

.taupe {
    position: relative;
    background-color: #FFFFFF;
    width: 90%;
    color: #00adb5;
    border-radius: 8px;
    box-shadow: 0px 1px 1px rgba(100, 116, 139, 0.06), 0px 1px 2px rgba(100, 116, 139, 0.1);
    overflow: hidden;
    height: 100%;
    margin-bottom: 25px;
}

.taupeImg {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.taupe>.content {
    padding: 0px 15px;
}

.taupe .name, .detailName {
    font-size: 25px;
}

.taupe .desc, .detailDesc {
    padding-bottom: 50px;
}

.taupe .date, .detailDate {
    position: absolute;
    bottom: 20px;
    left: 15px;
    margin: 0;
    color: #121828;
}

.taupe .creator, .detailCreator {
    position: absolute;
    bottom: 20px;
    right: 15px;
    color: #121828;
    margin: 0;
}


/****  FORMS  ****/
form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 20px;
    color: #00adb5;
}

input {
    margin-bottom: 20px;
    height: 25px
}

select {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #000;
    background: #fff;
}


/****  BUTTONS  ****/

.addBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    background-image: url('../img/text-bg.jpeg');
    border-radius: 50%;
    text-decoration: none;
    transition: all .3s ease;
}

.addBtn.formed {
    width: 250px;
    border-radius: 8px;
    height: 35px;
    /*bottom: 350px;*/
    right: 50%;
    transform: translateX(50%);
}

.addBtnText {
    opacity: 0;
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.addBtnText.shown {
    opacity: 1;
}

.addBtn>.plus {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 0px;
    left: 15px;
    line-height: 51px;
}

.addBtn>.plus.hidden {
    display: none;
}



/****  UTILS  ****/

body.modal-block {
    overflow: hidden;
}

body.modal-block::after {
    content: "No connection, connect and reload please";
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    background-color: #fff;
}